{% extends "base.html" %}

{% load i18n %}


{% block page_title %}
    {% trans "Search" %}
{% endblock %}


{% block main_container %}

    <div class="container-md py-2">
        <h3 class="pb-3">
            {% trans "Найденные билеты:" %}
        </h3>
{#        {% for exmpl in data %}#}
{#            <div class="p-3 mb-4 bg-light rounded-3">#}
{#                <div class="container-md py-2" style="padding-top: 5px; margin-left: 20px;">#}
{#                    <h5>Авиаперевозчик {{ exmpl.airline }}</h5>#}
{#                    <p>Цена {{ exmpl.price }} руб</p>#}
{#                    <ul class="list-inline">#}
{#                        <li class="list-inline-item">{{ exmpl.departure_at }}</li>#}
{##}
{#                    </ul>#}
{#                    <ul class="list-inline">#}
{#                        <li class="list-inline-item">Пункт отправления {{ exmpl.origin }}</li>#}
{#                        <li class="list-inline-item">Пункт назначения {{ exmpl.destination }}</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}

        {% for keys, values in data %}
        <li>{{ keys }} : {{ values }}</li>
        {% endfor %}

        <ul>
            <a href="{% url 'waySearch:index' %}">
                {% trans "Back to Homepage" %}
            </a>
        </ul>
    </div>
{% endblock %}