{% extends "base.html" %}
{% load i18n %}
{% load waysearch_tag %}


{% block page_title %}
    Поиск авиамаршрутов
{% endblock %}


{% block main_container %}
    <div class="container-md py-2">
        <h3 class="pb-3">
            Поиск авиамаршрутов
        </h3>
        <form method="post" class="row gy-2 gx-3 align-items-end mb-3">
            {% csrf_token %}
            {% for field in form %}
                <div class="col-auto">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
            </div>
        </form>
        {% if data.data %}
            <div class="container-md py-2">
                <h3 class="pb-3">
                    {% trans "Найденные билеты:" %}
                </h3>
                {% for flight in data.data %}
                    <div class="p-3 mb-4 bg-light rounded-3">
                        <div class="container-md py-2" style="padding-top: 5px; margin-left: 20px;">
                            <p>Авиаперевозчик {% airline_translated flight.airline %}</p>
                            <p>Цена: <strong>{{ flight.price }}</strong> руб.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">Вылет: {% formatted_depature flight.departure_at %}</li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">Пункт отправления: {{ form.departure_city.value }}</li>
                                <li class="list-inline-item">Пункт назначения: {{ form.arrival_city.value }}</li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if data.success and not data.data %}
            <p class="warning">Рейсы не найдены. Попробуйте изменить условия поиска.
            </p>
        {% endif %}
        {% if data.error %}
            <p class="warning">Ошибка поиска. Попробуйте позже.
            </p>
        {% endif %}
        <ul>
            <a href="{% url 'waysearch:index' %}">
                {% trans "На главную страницу" %}
            </a>
        </ul>
    </div>
    <script>
        $(function () {
            let availableTags = [
                {% for code in data.iata %}
                    {% if code.city_name == 'Москва' %}
                        "{{ code.city_name }} ({{ code.name }})",
                    {% else %}
                        "{{ code.city_name }}",
                    {% endif %}
                {% endfor %}
            ];
            $(".city-auto").autocomplete({
                source: availableTags
            });
        });
    </script>
{% endblock %}
