{% extends 'base.html' %}
{% load i18n %}
{% load calculation_tag %}

{% block page_title %}
    Main page
{% endblock %}

{% block js %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
{% endblock %}

{% block main_container %}
    <div class="container-md py-2">
        <div class="forms-resolver">
            <form method="post" class="row gy-2 gx-3 align-items-center mb-3">
                {% csrf_token %}

                {% for error, descriptions in form.errors.items %}
                    {% for description in descriptions %}
                        <p>{{ description }}</p>
                    {% endfor %}
                {% endfor %}

                <div class="row row-cols-5">
                    <div class="col">{{ form.city.label }}</div>
                    <div class="col">{{ form.check_in.label }}</div>
                    <div class="col">{{ form.check_out.label }}</div>
                    <div class="col">{{ form.amount_guests.label }}</div>
                    <div class="col"></div>
                    <div class="col">{{ form.city|default:'' }}</div>
                    <div class="col">{{ form.check_in }}</div>
                    <div class="col">{{ form.check_out }}</div>
                    <div class="col">{{ form.amount_guests }}</div>

                    <div class="col">
                        <button type="submit" class="btn btn-primary">{% trans "Найти отели" %}</button>
                    </div>
                </div>
            </form>
        </div>

        {#        {% if data_info.popularity %}#}
        <div class="container-md py-2">
            <h3 class="pb-3">
                {% trans "Найденные отели:" %}
            </h3>
            {% for hotel in hotel_data %}
                <div class="p-3 mb-4 bg-light rounded-3">
                    <div class="container-md py-2" style="padding-top: 5px; margin-left: 20px;">
                        <h5>{{ hotel.name }}</h5>
                        <p>Количество звезд: {{ hotel.stars }}</p>
                        <p>Тип отеля: {{ hotel.hotel_type }}
                        <ul class="list-inline">
                            <li class="list-inline-item">{{ hotel.check_in }}
                                - {{ hotel.check_out }}</li>
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item">Цена за сутки {{ hotel.price }}</li>
                            <li class="list-inline-item">Количество ночей: {{ hotel.nights }}</li>
                            <li class="list-inline-item fs-5 fw-bolder text-primary">
                                Стоимость: {% total_cost hotel.price hotel.nights hotel.amount_guests %}</li>
                        </ul>

                    </div>
                </div>
            {% endfor %}
            <ul>
                <a href="{% url 'waysearch:index' %}">
                    {% trans "На главную страницу" %}
                </a>
            </ul>
        </div>


        <script>
            $(function () {
                var availableTags = [
                    {% for city in cities %}
                        "{{ city.name }}",
                    {% endfor %}
                ];
                $("#city").autocomplete({
                    source: availableTags
                });
            });
        </script>

{% endblock %}